@font-face {
  font-family: "Violet Sans";
  src:
    url("fonts/VioletSans-Regular.woff2") format("woff2"),
    url("fonts/VioletSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Banquise";
  src:
    local("Banquise Regular"),
    local("Banquise-Regular"),
    url("fonts/Banquise-Regular.woff2") format("woff2"),
    url("fonts/Banquise-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src:
    local("Redaction 50 Bold"),
    local("Redaction50-Bold"),
    url("fonts/Redaction50-Bold.woff2") format("woff2"),
    url("fonts/Redaction50-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src:
    local("Redaction 50"),
    local("Redaction50-Regular"),
    url("fonts/Redaction50-Regular.woff2") format("woff2"),
    url("fonts/Redaction50-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src:
    local("Redaction 50 It"),
    local("Redaction50-Italic"),
    url("fonts/Redaction50-Italic.woff2") format("woff2"),
    url("fonts/Redaction50-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
