@import url("reset.css");
@import url("fonts.css");

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";

:root {
  /* --font-header: "Banquise", var(--font-serif); */
  --font-header: "Redaction 50", var(--font-serif);
  --text-1: #efefef;
}

@keyframes opacityPulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}

body {
  background-image:
    linear-gradient(
      180deg in oklch,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(38, 38, 38, 0.6) 36%,
      rgba(22, 22, 22, 0.88) 69%,
      rgba(0, 0, 0, 0.91) 84%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("imgs/angel_upscaled.png");
  backdrop-filter: grayscale(100%) brightness(10%);
  background-position:
    center,
    right 50%;
  padding: var(--size-fluid-4);
  background-size: cover;
  font-family: "Violet Sans", var(--font-neo-grotesque);
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: end;
  justify-content: end;
  color: var(--text-1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--size-1);
  text-align: justify;
  text-align-last: end;
  max-width: var(--size-content-3);
  font-size: calc(var(--font-size-fluid-1) * 0.85);
  text-shadow: 0 var(--size-1) var(--size-5) #ffffff5a;
  * {
    transition:
      opacity 0.4s ease-in-out,
      filter 0.4s ease-in-out;
  }
  *:hover {
    color: #ffffff;
    opacity: 0.7;
  }
  h3 {
    line-height: 0.85;
    font-family: var(--font-header);
    font-size: calc(var(--font-size-8) + var(--font-size-2));
  }
  h4 {
    font-size: var(--font-size-fluid-1);
  }
  p {
    margin-block: var(--size-2);
  }
  nav {
    a {
      color: red;
    }
    display: flex;
    flex-direction: row;
    gap: var(--size-6);
  }
}

@media (max-width: 480px) or (orientation: portrait) {
  main {
    h3 {
      font-size: var(--font-size-8);
    }
    p {
      text-align: end;
      max-width: 72dvw;
    }
    nav {
      gap: var(--size-4);
    }
  }
}
